<div id="app">
  <form method="post"> <!--- form --->
    <fieldset> <!--- set-1 -->
      <legend>Order</legend>
      <input id="name" type="text" value="" name="name" placeholder="Customer Name" ref="name">
      <input id="phone" type="text" value="" name="phone" placeholder="Customer Phone Number" ref="phone">
      <select id="currency" class="primary select-img" name="currency" v-on:change="onCurrencyChange" v-model="currencySelected">
        <option disabled value="">Please choose a currency</option>
        <option v-for="item in currencies" v-bind:value="item">\{{item}}</option>
      </select>
      <input id="price" type="text" value="" name="price" placeholder="Price" ref="price">
    </fieldset> <!-- /.end set-1 -->

    <fieldset> <!--- set-2 -->
      <legend>Payment</legend>
      <input id="creditCardName" type="text" value="" name="creditCardName" placeholder="Credit Card Holder Name" ref="creditCardName">
      <input id="creditCardNumber" type="text" value="" name="creditCardNumber" placeholder="Credit Card Number" ref="creditCardNumber">
      <input id="creditCardExp" type="text" value="" name="creditCardExp" placeholder="Credit Card Expiration" ref="creditCardExp">
      <input id="CVV" type="text" value="" name="CVV" placeholder="Credit Card CVV" ref="CVV">
    </fieldset> <!-- /.end set-2 -->

    <modal v-if="isPaymentSuccess" @close="isPaymentSuccess = false">
      <h3 slot="body">Your payment is successfully!<br><br>Here are your payment reference code: <br>\{{refCode}}</h3>
    </modal>

    <modal v-if="isPaymentFail" @close="isPaymentFail = false">
      <h3 slot="body">\{{errorMessage}}</h3>
    </modal>

    <div class="wrapper">
      <!-- <button id="show-modal" v-on:click="showModal = true">Show Modal</button> -->
      <button type="submit" @click="onSubmit">Make Payment</button>
    </div>
  </form> <!-- /.end form -->
</div>
<script>
  (function(){
    var createClient = braintree.client.create;
    Vue.component('modal', {
      template: '#modal-template'
    });
    var app = new Vue({
      el: '#app',
      data: {
        clientToken: '',
        currencies: ['HKD', 'USD', 'AUD', 'EUR', 'JPY', 'CNY'],
        currencySelected: '',
        isPaymentSuccess: false,
        isPaymentFail: false,
        refCode: '',
        errorMessage: ''
      },
      methods: {
        load: function() {
          this.getClientToken()
        },
        getClientToken: function() {
          this.$http
            .get(`/v1/payment/braintreeClientToken`, {})
            .then(res => {
              this.clientToken = res.data.data.clientToken
            })
        },
        onCurrencyChange: function(e) {
          this.currencySelected = e.target.value
        },
        onSubmit: function(e) {
          e.preventDefault()
          createClient({
            authorization: this.clientToken,
          }, function (createErr, clientInstance) {
            if (createErr) { throw new Error(createErr); }
            var data = {
              creditCard: {
                number: document.getElementById('creditCardNumber').value,
                cvv: document.getElementById('CVV').value,
                expirationDate: document.getElementById('creditCardExp').value,
                options: {
                  validate: false
                }
              }
            };

            // Warning: For a merchant to be eligible for the easiest level of PCI compliance (SAQ A),
            // payment fields cannot be hosted on your checkout page.
            // For an alternative to the following, use Hosted Fields.
            clientInstance.request({
              endpoint: 'payment_methods/credit_cards',
              method: 'post',
              data: data
            }, function (requestErr, response) {
              // More detailed example of handling API errors: https://codepen.io/braintree/pen/MbwjdM
              if (requestErr) { throw new Error(requestErr); }
              const formData = {
                name: document.getElementById('name').value,
                phone: document.getElementById('phone').value,
                currency: document.getElementById('currency').value,
                price: document.getElementById('price').value,
                nonce: response.creditCards[0].nonce,
                cardType: response.creditCards[0].details.cardType,
                number: data.creditCard.number,
                cvv: data.creditCard.cvv,
                expirationDate: data.creditCard.expirationDate,
              }
              this.$http
                .post(`/v1/payment`, JSON.stringify(formData), {})
                .then(res => {
                  console.log(res.body)
                  if (res.body.errorCode === 0 && res.body.data !== {}) {
                    this.refCode = res.body.data.paymentRefCode
                    this.isPaymentSuccess = true
                  } else {
                    this.errorMessage = res.body.errorMsg
                    this.isPaymentFail = true
                  }
                })
                .catch(err => console.log(err))
            }.bind(this));
          }.bind(this));
        }
      }
    });
    app.load();
  })()
</script>
