<div id="app">
  <form method="post"> <!--- form --->
    <fieldset> <!--- set-1 -->
      <legend>Payment Record</legend>
      <input id="name" type="text" value="" name="name" placeholder="Customer Name" ref="name">
      <input id="refCode" type="text" value="" name="refCode" placeholder="Payment Reference Code" ref="refCode">
    </fieldset> <!-- /.end set-1 -->

    <modal v-if="isPaymentFound" @close="isPaymentFound = false">
      <h3 slot="body">
        Your payment is found!<br>
        <br>
        Here are your payment details: <br>
        <br>
        Customer Name: \{{name}}<br>
        <br>
        Customer Phone Number: \{{phone}}<br>
        <br>
        Currency: \{{currency}}<br>
        <br>
        Price: \{{price}}
      </h3>
    </modal>

    <modal v-if="isPaymentNotFound" @close="isPaymentNotFound = false">
      <h3 slot="body">Record not found!</h3>
    </modal>

    <div class="wrapper">
      <button type="submit" v-on:click="onSubmit">Check Payment Record</button>
    </div>
  </form> <!-- /.end form -->
</div>
<script>
  (function(){
    var createClient = braintree.client.create;
    Vue.component('modal', {
      template: '#modal-template'
    });
    var app = new Vue({
      el: '#app',
      data: {
        isPaymentNotFound: false,
        isPaymentFound: false,
      },
      methods: {
        onSubmit: function(e) {
          e.preventDefault()
          const formData = {
            name: document.getElementById('name').value,
            refCode: document.getElementById('refCode').value,
          }
          this.$http
            .post(`/v1/payment/checkPayment`, JSON.stringify(formData), {})
            .then(res => {
              console.log(res.body)
              if (res.body.errorCode === 0 && res.body.data !== {}) {
                this.name = res.body.data.name
                this.phone = res.body.data.phone
                this.currency = res.body.data.currency
                this.price = res.body.data.price
                this.isPaymentFound = true
              } else {
                this.isPaymentNotFound = true
              }
            })
            .catch(err => console.log(err))
        }
      }
    });
  })()
</script>
